<div ng-init="tog=1" data-ng-include data-src="'views/header.html'"></div>
<div class="panel panel-default">
  <div class="panel-heading">Jak skonfigurować aplikację?</div>
  <div class="panel-body">
    <p>Zakładka 'Konfiguracja' pozwala skonfigurować aplikację, aby umożliwiała automatycznie generować protokoły odbioru na podstawie danych z Beeboli.</p>
    <p>
    Niezbędne jest podanie następujących informacji:
    <ul>
      <li>Twoje imię i nazwisko</li>
      <li>imię i nazwisko kierownika</li>
      <li>stawki dziennej netto</li>
      <li>tokena z aplikacji Beebole</li>
    </ul>
    </p>
    <p>Wymienione wartości są niezbędne do automatycznego wygenerowania odbioru.</p>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">Jak uzyskać token z aplikacji Beebole?</div>
  <div class="panel-body">
  	<p>Należy otworzyć stone aplikacji Beebole: <a href="https://cohesiva.beebole-apps.com">https://cohesiva.beebole-apps.com</a></p>
  	<p>Wybrać opcję 'Customize' -> w prawym górnym rogu ekranu</p>
  	<p>Wybrać moduł 'API Token' i przeciągnąć widget wybrane miejsce na ekranie</p>
  	<p>Na ekranie powinien pojawić się widget z Twoim API Token'em</p>
  </div>
</div>

<div class="footer">
	<p>Strike Team</p>
</div>