<div ng-init="tog=3" data-ng-include data-src="'views/header.html'"></div>

<h3>Skonfiguruj aplikację</h3>

<div class="row marketing" role="form" class="form-horizontal">
	<form ng-submit="save()">
		<div class="form-group">
			<label class="col-sm-4 control-label">twoje imię i nazwisko</label>
			<div class="col-sm-8">
				<input ng-model="config.name" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">imię i nazwisko managera</label>
			<div class="col-sm-8">
				<input ng-model="config.managerName" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">stawka dzienna</label>
			<div class="col-sm-8">
				<input ng-model="config.dailyWage" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Multisport</label>
			<div class="col-sm-8">
				<select ng-model="config.multisport" class="form-control">
					<option value="brak">brak</option>
					<option value="plus">Multisport Plus</option>
					<option value="classic">Multisport Classic</option>
				</select>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-4 control-label">Beebole token</label>
			<div class="col-sm-8">
				<input ng-model="config.beeboleToken" class="form-control">
			</div>
		</div>
		<div class="form-group">
		    <div class="col-sm-offset-4 col-sm-8">
		      <button id="saveConfig" type="submit" class="btn btn-primary">Save</button>
		    </div>
		</div>
	</form>
</div>

<div class="footer">
	<p>Strike Team</p>
</div>