<div class="header">
	<h3 class="msg">{{message}}</h3>

	
	<h4>test icons</h4>
	<div>
		--- <span class="glyphicon glyphicon-trash"/> --- <br/>
		--- <span class="glyphicon glyphicon-chevron-left"/> --- <br/>
		--- <span class="icon icon-glass"/> ---<br/>
		--- <span class="glyphicon glyphicon-glass"/> ---<br/>
		--- <button class="btn">baton</button> ---<br/>
	</div>

	<h4>Inline</h4>
    <div class="well well-small" ng-model="dt" style="display:inline-block;">
        <datepicker min="minDate" show-weeks="showWeeks"></datepicker>
    </div>
</div>