<div ng-init="tog=0" data-ng-include data-src="'views/header.html'"></div>
<div class="jumbotron">
	<h1>'Uwaga, Uwaga!</h1>
	<p class="lead">Nowa aplikacja do obsługi odbiorów ...</p>
	<p>
	<div class="col-sm-6">
		<select ng-model="month" class="form-control" ng-options="m.name for m in months">
		</select>
	</div>
	<div class="col-sm-6">
		<select ng-model="year" class="form-control" ng-options="y.name for y in years">
		</select>
	</div>
	</p>
	<br/>
	<p><a id="calculate" class="btn btn-lg btn-success" href="#/receipt2" ng-click="setValues()">Generuj odbiór!</a></p>
</div>

<div class="footer">
	<p>Strike Team</p>
</div>