<div ng-init="tog=0" data-ng-include data-src="'views/header.html'"></div>
<div class="jumbotron">
	<h1>'Uwaga, Uwaga!</h1>
	<p class="lead">Nowa aplikacja do obsługi odbiorów ...</p>
	<p>
	<div ng-init="initMonth()" class="col-sm-6">
		<select ng-model="month" class="form-control" ng-options="m.name for m in months">
		</select>
	</div>
	<div ng-init="initYear()" class="col-sm-6">
		<select ng-model="year" class="form-control" ng-options="y.name for y in years">
		</select>
	</div>
	</p>
	<br/>
	<p><a id="calculate" class="btn btn-lg" ng-class="{'btn-success': isConfigured(),'btn-warning':!isConfigured()}" href="{{buttonLink}}" ng-click="setValues()">{{buttonText}}</a></p>
</div>

<div class="footer">
	<p>Strike Team</p>
</div>